<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DmTechMapper">
    
    <resultMap type="DmTech" id="DmTechResult">
        <result property="id"    column="id"    />
        <result property="techCode"    column="tech_code"    />
        <result property="techName"    column="tech_name"    />
        <result property="techType"    column="tech_type"    />
        <result property="techLanguage"    column="tech_language"    />
        <result property="techVersion"    column="tech_version"    />
        <result property="latestVersion"    column="latest_version"    />
        <result property="status"    column="status"    />
        <result property="ecoId"    column="eco_id"    />
        <result property="ecoTitle"    column="eco_title"    />
        <result property="ecoCode"    column="eco_code"    />
        <result property="ecoDescription"    column="eco_description"    />
        <result property="publishStatus"    column="publish_status"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileSuffix"    column="file_suffix"    />
        <result property="fileSize"    column="file_size"    />
        <result property="filePath"    column="file_path"    />
        <result property="size"    column="size"    />
        <result property="remark"    column="remark"    />
        <result property="versionDescription"    column="version_description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="flowKey"    column="flow_key"    />
        <result property="flowInsId"    column="flow_ins_id"    />
        <result property="billType"    column="bill_type"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectCode"    column="project_code"    />
        <result property="projectTaskId"    column="project_task_id"    />
        <result property="projectTaskCode"    column="project_task_code"    />
        <result property="projectTaskName"    column="project_task_name"    />
        <result property="allowChange"    column="allow_change"    />
    </resultMap>

    <sql id="selectDmTechVo">
        select id, tech_code, tech_name, tech_type, tech_language, tech_version, latest_version, status, eco_id, eco_title, eco_code, eco_description, publish_status, file_name, file_suffix, file_size, file_path, size, remark, version_description, create_by, create_time, update_by, update_time, flow_key, flow_ins_id, bill_type, project_id, project_name, project_code, project_task_id, project_task_code, project_task_name, allow_change from dm_tech
    </sql>

    <select id="selectDmTechList" parameterType="DmTech" resultMap="DmTechResult">
        <include refid="selectDmTechVo"/>
        <where>  
            <if test="techCode != null  and techCode != ''"> and tech_code = #{techCode}</if>
            <if test="techName != null  and techName != ''"> and tech_name like concat('%', #{techName}, '%')</if>
            <if test="techType != null  and techType != ''"> and tech_type = #{techType}</if>
            <if test="techLanguage != null  and techLanguage != ''"> and tech_language = #{techLanguage}</if>
            <if test="techVersion != null  and techVersion != ''"> and tech_version = #{techVersion}</if>
            <if test="latestVersion != null  and latestVersion != ''"> and latest_version = #{latestVersion}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="ecoId != null "> and eco_id = #{ecoId}</if>
            <if test="ecoTitle != null  and ecoTitle != ''"> and eco_title = #{ecoTitle}</if>
            <if test="ecoCode != null  and ecoCode != ''"> and eco_code = #{ecoCode}</if>
            <if test="ecoDescription != null  and ecoDescription != ''"> and eco_description = #{ecoDescription}</if>
            <if test="publishStatus != null  and publishStatus != ''"> and publish_status = #{publishStatus}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileSuffix != null  and fileSuffix != ''"> and file_suffix = #{fileSuffix}</if>
            <if test="fileSize != null  and fileSize != ''"> and file_size = #{fileSize}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="size != null "> and size = #{size}</if>
            <if test="versionDescription != null  and versionDescription != ''"> and version_description = #{versionDescription}</if>
            <if test="flowKey != null  and flowKey != ''"> and flow_key = #{flowKey}</if>
            <if test="flowInsId != null  and flowInsId != ''"> and flow_ins_id = #{flowInsId}</if>
            <if test="billType != null  and billType != ''"> and bill_type = #{billType}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectCode != null  and projectCode != ''"> and project_code = #{projectCode}</if>
            <if test="projectTaskId != null "> and project_task_id = #{projectTaskId}</if>
            <if test="projectTaskCode != null  and projectTaskCode != ''"> and project_task_code = #{projectTaskCode}</if>
            <if test="projectTaskName != null  and projectTaskName != ''"> and project_task_name like concat('%', #{projectTaskName}, '%')</if>
            <if test="allowChange != null  and allowChange != ''"> and allow_change = #{allowChange}</if>
        </where>
    </select>
    
    <select id="selectDmTechById" parameterType="Long" resultMap="DmTechResult">
        <include refid="selectDmTechVo"/>
        where id = #{id}
    </select>

    <insert id="insertDmTech" parameterType="DmTech" useGeneratedKeys="true" keyProperty="id">
        insert into dm_tech
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="techCode != null and techCode != ''">tech_code,</if>
            <if test="techName != null and techName != ''">tech_name,</if>
            <if test="techType != null and techType != ''">tech_type,</if>
            <if test="techLanguage != null and techLanguage != ''">tech_language,</if>
            <if test="techVersion != null and techVersion != ''">tech_version,</if>
            <if test="latestVersion != null and latestVersion != ''">latest_version,</if>
            <if test="status != null">status,</if>
            <if test="ecoId != null">eco_id,</if>
            <if test="ecoTitle != null">eco_title,</if>
            <if test="ecoCode != null">eco_code,</if>
            <if test="ecoDescription != null">eco_description,</if>
            <if test="publishStatus != null and publishStatus != ''">publish_status,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="fileSuffix != null and fileSuffix != ''">file_suffix,</if>
            <if test="fileSize != null and fileSize != ''">file_size,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="size != null">size,</if>
            <if test="remark != null">remark,</if>
            <if test="versionDescription != null">version_description,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="flowKey != null">flow_key,</if>
            <if test="flowInsId != null">flow_ins_id,</if>
            <if test="billType != null">bill_type,</if>
            <if test="projectId != null">project_id,</if>
            <if test="projectName != null">project_name,</if>
            <if test="projectCode != null">project_code,</if>
            <if test="projectTaskId != null">project_task_id,</if>
            <if test="projectTaskCode != null">project_task_code,</if>
            <if test="projectTaskName != null">project_task_name,</if>
            <if test="allowChange != null">allow_change,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="techCode != null and techCode != ''">#{techCode},</if>
            <if test="techName != null and techName != ''">#{techName},</if>
            <if test="techType != null and techType != ''">#{techType},</if>
            <if test="techLanguage != null and techLanguage != ''">#{techLanguage},</if>
            <if test="techVersion != null and techVersion != ''">#{techVersion},</if>
            <if test="latestVersion != null and latestVersion != ''">#{latestVersion},</if>
            <if test="status != null">#{status},</if>
            <if test="ecoId != null">#{ecoId},</if>
            <if test="ecoTitle != null">#{ecoTitle},</if>
            <if test="ecoCode != null">#{ecoCode},</if>
            <if test="ecoDescription != null">#{ecoDescription},</if>
            <if test="publishStatus != null and publishStatus != ''">#{publishStatus},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="fileSuffix != null and fileSuffix != ''">#{fileSuffix},</if>
            <if test="fileSize != null and fileSize != ''">#{fileSize},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="size != null">#{size},</if>
            <if test="remark != null">#{remark},</if>
            <if test="versionDescription != null">#{versionDescription},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="flowKey != null">#{flowKey},</if>
            <if test="flowInsId != null">#{flowInsId},</if>
            <if test="billType != null">#{billType},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="projectCode != null">#{projectCode},</if>
            <if test="projectTaskId != null">#{projectTaskId},</if>
            <if test="projectTaskCode != null">#{projectTaskCode},</if>
            <if test="projectTaskName != null">#{projectTaskName},</if>
            <if test="allowChange != null">#{allowChange},</if>
         </trim>
    </insert>

    <update id="updateDmTech" parameterType="DmTech">
        update dm_tech
        <trim prefix="SET" suffixOverrides=",">
            <if test="techCode != null and techCode != ''">tech_code = #{techCode},</if>
            <if test="techName != null and techName != ''">tech_name = #{techName},</if>
            <if test="techType != null and techType != ''">tech_type = #{techType},</if>
            <if test="techLanguage != null and techLanguage != ''">tech_language = #{techLanguage},</if>
            <if test="techVersion != null and techVersion != ''">tech_version = #{techVersion},</if>
            <if test="latestVersion != null and latestVersion != ''">latest_version = #{latestVersion},</if>
            <if test="status != null">status = #{status},</if>
            <if test="ecoId != null">eco_id = #{ecoId},</if>
            <if test="ecoTitle != null">eco_title = #{ecoTitle},</if>
            <if test="ecoCode != null">eco_code = #{ecoCode},</if>
            <if test="ecoDescription != null">eco_description = #{ecoDescription},</if>
            <if test="publishStatus != null and publishStatus != ''">publish_status = #{publishStatus},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="fileSuffix != null and fileSuffix != ''">file_suffix = #{fileSuffix},</if>
            <if test="fileSize != null and fileSize != ''">file_size = #{fileSize},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="size != null">size = #{size},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="versionDescription != null">version_description = #{versionDescription},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="flowKey != null">flow_key = #{flowKey},</if>
            <if test="flowInsId != null">flow_ins_id = #{flowInsId},</if>
            <if test="billType != null">bill_type = #{billType},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="projectCode != null">project_code = #{projectCode},</if>
            <if test="projectTaskId != null">project_task_id = #{projectTaskId},</if>
            <if test="projectTaskCode != null">project_task_code = #{projectTaskCode},</if>
            <if test="projectTaskName != null">project_task_name = #{projectTaskName},</if>
            <if test="allowChange != null">allow_change = #{allowChange},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmTechById" parameterType="Long">
        delete from dm_tech where id = #{id}
    </delete>

    <delete id="deleteDmTechByIds" parameterType="String">
        delete from dm_tech where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>