<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PjTaskLogMapper">
    
    <resultMap type="PjTaskLog" id="PjTaskLogResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="taskName"    column="task_name"    />
        <result property="logDate"    column="log_date"    />
        <result property="progressBefore"    column="progress_before"    />
        <result property="progressAfter"    column="progress_after"    />
        <result property="workHours"    column="work_hours"    />
        <result property="workContent"    column="work_content"    />
        <result property="issues"    column="issues"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="operatorName"    column="operator_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPjTaskLogVo">
        select id, project_id, task_id, task_code, task_name, log_date, progress_before, progress_after, work_hours, work_content, issues, operator_id, operator_name, create_by, create_time, update_by, update_time from pj_task_log
    </sql>

    <select id="selectPjTaskLogList" parameterType="PjTaskLog" resultMap="PjTaskLogResult">
        <include refid="selectPjTaskLogVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="taskCode != null  and taskCode != ''"> and task_code = #{taskCode}</if>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="logDate != null "> and log_date = #{logDate}</if>
            <if test="progressBefore != null "> and progress_before = #{progressBefore}</if>
            <if test="progressAfter != null "> and progress_after = #{progressAfter}</if>
            <if test="workHours != null "> and work_hours = #{workHours}</if>
            <if test="workContent != null  and workContent != ''"> and work_content = #{workContent}</if>
            <if test="issues != null  and issues != ''"> and issues = #{issues}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
            <if test="operatorName != null  and operatorName != ''"> and operator_name like concat('%', #{operatorName}, '%')</if>
        </where>
    </select>
    
    <select id="selectPjTaskLogById" parameterType="Long" resultMap="PjTaskLogResult">
        <include refid="selectPjTaskLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertPjTaskLog" parameterType="PjTaskLog" useGeneratedKeys="true" keyProperty="id">
        insert into pj_task_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="taskCode != null">task_code,</if>
            <if test="taskName != null">task_name,</if>
            <if test="logDate != null">log_date,</if>
            <if test="progressBefore != null">progress_before,</if>
            <if test="progressAfter != null">progress_after,</if>
            <if test="workHours != null">work_hours,</if>
            <if test="workContent != null">work_content,</if>
            <if test="issues != null">issues,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="operatorName != null">operator_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="taskCode != null">#{taskCode},</if>
            <if test="taskName != null">#{taskName},</if>
            <if test="logDate != null">#{logDate},</if>
            <if test="progressBefore != null">#{progressBefore},</if>
            <if test="progressAfter != null">#{progressAfter},</if>
            <if test="workHours != null">#{workHours},</if>
            <if test="workContent != null">#{workContent},</if>
            <if test="issues != null">#{issues},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="operatorName != null">#{operatorName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePjTaskLog" parameterType="PjTaskLog">
        update pj_task_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="taskCode != null">task_code = #{taskCode},</if>
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="logDate != null">log_date = #{logDate},</if>
            <if test="progressBefore != null">progress_before = #{progressBefore},</if>
            <if test="progressAfter != null">progress_after = #{progressAfter},</if>
            <if test="workHours != null">work_hours = #{workHours},</if>
            <if test="workContent != null">work_content = #{workContent},</if>
            <if test="issues != null">issues = #{issues},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="operatorName != null">operator_name = #{operatorName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePjTaskLogById" parameterType="Long">
        delete from pj_task_log where id = #{id}
    </delete>

    <delete id="deletePjTaskLogByIds" parameterType="String">
        delete from pj_task_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>